@charset "utf-8";

html {
  height: 100%;
  width: 100%;
}

body {
  background: #d4d4d4;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: rgba(0, 0, 0, .6);
  font-weight: bold;
  font-size: 90px;
  margin: 25px 0;
  letter-spacing: -1px;
  text-shadow: 0 2px 0 rgba(255, 255, 255, .5);
}

#map {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  body {
    padding: 0 10px;
  }

  h1 {
    font-size: 50px;
  }

  #map {
    width: 90%;
  }
}
